@using Task = Todo.Models.TodoTask
<div>
    <ul>
        @foreach (var item in Tasks)
        {
            <li>
                <TaskItem Item="@item"></TaskItem>
            </li>
        }
    </ul>
</div>
<TaskAdd TaskAdded="AddNewTask"></TaskAdd>