@using Todo.Models
<li class="list-group-item" data-todoItemId="@Item.Id" draggable="true" @ondragstart="@(()=>OnDragStart.InvokeAsync(Item))">
    <span><input type="checkbox" @bind="@Item.Done"/> @Item.Label <a href="/TodoItem/@Item.Id">Detail</a></span>
</li>
 
@code{

    [Parameter, EditorRequired]
    public TodoItem Item { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnDragStart { get; set; }

}
