<button @onclick="(() => this.StateHasChanged())">Refresh</button>
<div>
    <ul>
        @foreach (var item in List.Items)
        {
            <li>
                <TodoItem Item="@item"></TodoItem>
            </li>
        }
    </ul>
</div>

<TodoAddItem List="@List"></TodoAddItem>
@* <div> *@
@*     <input @bind="_newItemTitle"/><button type="button" @onclick="AddItem">Ajouter</button> *@
@* </div> *@