@page "/"
@using Todo.Components
@using Todo.Models
@inherits ReactiveUI.Blazor.ReactiveInjectableComponentBase<TodoListPageViewModel>

@code {


    private void OnDragItemStart(TodoItem item)
    {
        _itemDragged = item;
    }

    private TodoItem _itemDragged;

    private void OnDropItem()
    {
        TodoList.Remove(_itemDragged.Id);
        _itemDragged = null;
    }

}
<div class="card m-auto mt-5" style="width: 30rem;" ondragover="event.preventDefault();">
    <div class="card-header  justify-content-between  text-primary fw-bold">
        Mes tâches
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @TodoList.Count
        </span>
        <span class="badge badge-primary"></span>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="input-group mb-3">
                <input  type="text" class="form-control" @bind="@(ViewModel!.Search)" @bind:event="oninput" placeholder="Search by item name"/>
            </div>
        </li>
        @foreach (var item in ViewModel!.FilteredTodoItems)
        {
            <TodoItemComponent Item="@item" OnDragStart="OnDragItemStart"></TodoItemComponent>
        }
        <li class="list-group-item">
            <div class="input-group mb-3">
                <input type="text" class="form-control" @bind="_newItem"/>
                <div class="input-group-append"> &nbsp;
                    <button type="button" class="btn btn-outline-secondary cursor-pointer"
                            @onclick="AddItem">
                        Ajouter
                    </button>
                </div>
            </div>
        </li>
    </ul>  
    <div  style="text-align: right">
        <img class="droptarget" src="images/trash_icon.png" width="48" @ondrop="OnDropItem"/> 
    </div> 
     
    
</div>